[submodule "osl"]
	path = osl
	url = https://github.com/periscop/openscop.git
[submodule "candl"]
	path = candl
	url = https://github.com/periscop/candl.git
[submodule "pluto"]
	path = pluto
	url = http://repo.or.cz/pluto.git
